output*
.vscode
.sonarlint
__pycache__
venv
.idea
*.c
*.pyc
*.so
*.o
out/*
token.json
token.pickle
.mypy_cache
data/*
src/out/*
src/data/*
.coverage
report/*
docs/*
*.prof
creds.txt
client_secrets.json
out
.pytest_cache
*.code-workspace
dependencies.db
**.iml