output*
Consumer.py
Producer.py
.vscode
.sonarlint
__pycache__
venv
.idea
*.c
*.pyc
*.so
*.o
SimpleProducer
SimpleConsumer
out/*
credentials.json
token.json
.mypy_cache
data/*
src/out/*
src/data/*
.coverage
report/*
docs/*
*.prof
data_gen/creds.txt
data_gen/client_secrets.json
data_gen/out
.pytest_cache